<h1>
  <%= @dog.name %>
</h1>

<%= image_tag @dog.photo.url(:medium) %>

<div>
  <label>Age</label>
  <%= distance_of_time_in_words(Time.now, @dog.birthdate, true, highest_measure_only: true) %>
</div>

<%= in_place_editable_field @dog, :breed,
                                  field_options: { placeholder: 'loveable mutt' } %>

<%= in_place_editable_field @dog, :weight_in_pounds,
                                  field_type: :number_field,
                                  field_options: { units: 'lbs.',
                                                   in: 1..200,
                                                   step: 1,
                                                   label: 'Weight' } %>