<p id="notice"><%= notice %></p>

<h2>
  Walk for <%= @walk.dog.name %>
</h2>

<p>
  <%= link_to 'Edit', edit_walk_path(@walk) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @walk.name %>
</p>

<p>
  <strong>Requested at:</strong>
  <%= short_datetime(@walk.requested_at) %>
</p>

<% if @walk.walker.nil? %>
  <p>No one has signed up for this walk yet.</p>
  <%= link_to 'Ask a Friend', new_walk_request_path(walk_id: walk.id) %>
<% else %>
  <p>
    <strong>Walker:</strong>
    <%= @walk.walker.name %>
  </p>
<% end %>
