<h1>
  Welcome, <%= @owner.name %>
</h1>

<% if @incoming_walk_requests.any? %>
  <section class="walkRequests">
   <h1>
     Walk Requests
   </h1>

   <%= render partial: 'walk_requests/compact', collection: @incoming_walk_requests, as: :walk_request %>
  </section>
<% end %>

<% if @owner.dogs.any? %>
  <section class="dogs">
    <%= render partial: 'dog', collection: @owner.dogs %>
  </section>
<% else %>
  <h2>
    Tell us about your dog...
  </h2>

  <%= form_for(@owner.dogs.build) do |f| %>
    <div>
      <label>
        Name
        <%= f.text_field :name %>
      </label>
    </div>
    <div>
      <label>
        Birthdate
        <%= f.date_field :birthdate %>
      </label>
    </div>
    <div>
      <label>
        Photo
        <%= f.file_field :photo %>
      </label>
    </div>

    <%= f.submit %>
  <% end %>
<% end %>